<!--/views/sqrt_new.erb-->
<form action = "/square_root/results">
  <label for = "sqrt-input">Enter a number</label>
  <input id = "sqrt-input" name = "sqrt" type = "text" placeholder = "What number do you want?">
  <div><button>Calculate square root</button></div>
</form>
