<!--/views/square_new.erb-->
<form action = "/square/results">
  <label for = "square-input">Enter a number</label>
  <input id = "square-input" type = "text" name = "square-value" placeholder = "What number do you want?">
  <div><button>Calculate square</button>
</form>
